<template>
<div id="headpic2">
    <div class="headpic">
              <h1 style="color:white;">About me</h1>

                <p>I am Mazharul Islam, web developer from Chittagong, Bangladesh. <br>
                    I have rich experience in web site devlopment and building and customization, also I am good at devlopment.<br>
                     I love to talk with you about our unique.<br>

                     AGE . . . . . 24 RESIDENCE<br>
                      . . . . . USA FREELANCE . . . . . <br>
                      Available ADDRESS . . . . . California, USA<br>
                  
                      <button style="background:lightgreen;border:1px solid lightgreen">
                          <a href="">Get Started now</a>
                      </button>
                  </p><br><br>
              </div>
</div>              
</template>