<template>

    <div class="headpic">
              <h1 style="color:white;">Home Page</h1>
                  <p>
                      Sites<br>
                      Easy-to-create websites for your teams<br>
                      Launch an intranet for your company, a project site for your team or<br>
                      a portal for customers with our site builder. All without writing a<br>
                      single line of code.<br><br>
                      <button style="background:lightgreen;border:1px solid lightgreen">
                          <a href="">Get Started now</a>
                      </button>
                  </p><br><br>
              </div>

           
</template>