<template>
  <div id="fullbody">
          <div class="fullbody">
              <div class="head">
                  <table>
                      <tr>
                          <td width="80%">
                              <font size="7" color="red"><a>G</a></font>
                              <font size="7" color="green"><a>o</a></font>
                              <font size="7" color="yellow"><a>o</a></font>
                              <font size="7" color="blue"><a>g</a></font>
                              <font size="7" color="green"><a>l</a></font>
                              <font size="7" color="red"><a>e</a> </font>
                              <font size="6">	 Apps For Work..</font>
                          </td>
                          <td width="">
                              <button style="border:2px solid lightgreen;"><a href="">Contact us</a>
                              </button>
                              <button style="border:2px solid lightgreen;background:lightgreen"><a href="">Get Started now</a>
                              </button>
                          </td>
                      </tr>
                  </table><br>
              </div>
              <div class="menu">
                  <ul>
                      <li><router-link to="/">Home</router-link></li>
                      <li><router-link to="/about">About</router-link></li>
                      <li><router-link to="/contact">Contact</router-link></li>
                
                  </ul>
              </div>
            
                <router-view>
                
                </router-view>
         
            

              <div class="email">
                  <center>
                      <h2>Want news and insights from Google Apps?</h2>
                      Send me periodic emails with news, product updates, and invitations to events.<br>
                      <br><input type="email" value="Enter your email address" style="width:300">
                      <input type="submit" value="sign up" style="border:2px solid lightgreen;background:lightgreen">
                  </center><br>
              </div>
              <div class="last">
                  <table cellspacing="100"><tr>
                      <td><h4>Products</h4><br><br>
                          google mail<br>
                          Hangouts<br>
                          Calendar<br>
                          Google+<br>
                          Drive<br>
                          Docs<br>
                          Sheets<br>
                          Forms<br>
                          Slides<br>
                          Sitesbr>
                      </td>
                      <td>
                          <H4>Support</H4><br><br>
                          Help Center for Admins<br>
                          Setup and Deployment Center<br>
                          Learning Center for Users<br>
                          Forums for Admins<br>
                          Forums for Developers<br>
                          Apps Status Dashboard<br>
                          Find a Google Apps Partner<br>
                          Join the community of IT Admins<br>
                          The Apps Show<br>
                      </td>
                      <td><h4>Related Solutions</h4><br><br>
                          Google Apps for Education<br>
                          Google Apps for Government<br>
                          Google for Nonprofits<br>
                          Google for Work<br>
                          Google Drive for Work<br>
                          Google Search for Work<br>
                          Google Cloud Platform<br>
                          Google Maps for Work<br>
                          Chrome for Work<br>
                          Google Business Solutions<br>
                      </td>
                      <td>
                          google +<br>croome<br><br><button style="background:lightgreen;border:1px solid lightgreen"><a href="">Get Started now</a></button>
                      </td>
                  </tr>
                  </table>
              </div>


          </div>

  </div>
</template>

<script>
import VueRouter from 'vue-router'

import Home from './pages/Home.vue'
import About from './pages/About.vue'
import Contact from './pages/Contact.vue'


const routes=[
    {path:'/',component:Home},
    {path:'/about',component:About},
    {path:'/contact',component:Contact},
]

const router=new VueRouter({
    routes,
    mode:'history'
})



export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Vue Js'
    }
  },
  router
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
